<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="assets/css/" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <!-- INICIO MENU -->
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="../index.html">
          <img src="../assets/imgs/logo.png" width="112" height="28" />
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="semestres.html"> Disciplinas </a>
          <a class="navbar-item" href="professorPesquisa.html"> Professores </a>
          <a class="navbar-item" href="sobreNos.html"> Sobre Nós </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-black" href="cadastro.html">
                <strong>Cadastrar-se</strong>
              </a>
              <a class="button is-light" href="login.html"> Logar</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- FIM MENU -->

                   <!-- INICIO ESPAÇAMENTO-->
    <div class="columns">
      <div class="column is-four-fifths"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column is-four-fifths"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <div class="columns">
      <div class="column is-four-fifths"></div>
      <div class="column"></div>
      <div class="column"></div>
    </div>
    <!-- FIM ESPAÇAMENTO-->

       <!-- INICIO SEMESTRES -->
      <div class="columns">
        <div class="column is-1"></div>
        <div class="column is-5">
                <!-- INICIO FORMS -->
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-child box">
            <p class="title">Cadastro</p>
            <!-- INICIO FORMS CADASTRO-->
            <div class="field">
                <label class="label">Nome</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Text input">
                </div>
              </div>    

              <div class="field">
                <label class="label">Turno</label>
                <div class="control">
                  <label class="radio">
                    <input type="radio" name="question">
                    Diurno
                  </label>
                  <label class="radio">
                    <input type="radio" name="question">
                    Noturno
                  </label>
                </div>
              </div>
              
              <div class="field">
                <label class="label">Semestre</label>
                <div class="control">
                  <div class="select">
                    <select>
                      <option>1º Semestre</option>
                      <option>2º Semestre</option>
                    </select>
                  </div>
                </div>
              </div>
            
              <div class="field">
                <label class="label">Email</label>
                <div class="control">
                  <input class="input" type="email" placeholder="example@example.com">
                </div>
              </div>  

              <div class="field">
                <label class="label">Senha</label>
                <div class="control">
                  <input class="input" type="password" placeholder="senha">
                </div>
              </div>  

              <div class="field">
                <div class="control">
                  <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
              </div>
      
              
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-black">Cadastrar</button>
                </div>
                <div class="control">
                  <button class="button is-light">Cancelar</button>
                </div>
              </div>
            <!-- FINAL FORMS CADASTRO-->
          </div>
        </div>
      </div>
    <!-- FINAL FORMS -->
        </div>
        <div class="column is-5">
            <div class="tile is-ancestor">
                <div class="tile is-parent">
                  <div class="tile is-child box">
                    <p class="title">Texto enfatizando a importancia e as vantagens do cadastro + feedback</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam semper diam at erat pulvinar, at pulvinar felis blandit. Vestibulum volutpat tellus diam, consequat gravida libero rhoncus ut. Morbi maximus, leo sit amet vehicula eleifend, nunc dui porta orci, quis semper odio felis ut quam.</p>
                    <p>Suspendisse varius ligula in molestie lacinia. Maecenas varius eget ligula a sagittis. Pellentesque interdum, nisl nec interdum maximus, augue diam porttitor lorem, et sollicitudin felis neque sit amet erat. Maecenas imperdiet felis nisi, fringilla luctus felis hendrerit sit amet. Aenean vitae gravida diam, finibus dignissim turpis. Sed eget varius ligula, at volutpat tortor.</p>
                    <p>Integer sollicitudin, tortor a mattis commodo, velit urna rhoncus erat, vitae congue lectus dolor consequat libero. Donec leo ligula, maximus et pellentesque sed, gravida a metus. Cras ullamcorper a nunc ac porta. Aliquam ut aliquet lacus, quis faucibus libero. Quisque non semper leo.</p>
                  </div>
                </div>
              </div>
        </div>
        <div class="column is-1"></div>
      </div>
      </div>
    <!-- FIM SEMESTRES -->

    <script src="assets/js/"></script>
  </body>
</html>
