<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Disciplina</title>
    <!-- BULMA IO-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!-- FONTS IMPORT-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
     <!-- FAVICO -->
     <link rel="icon" type="image/x-icon" href="../assets/imgs/fav.ico">
  </head>

  <body>
    <!-- INICIO MENU -->
    <nav class="navbar">
      <div class="container">
        <!-- BRAND -->
        <div class="navbar-brand">
          <a href="../index.html" class="navbar-item">
            <img
              src="../assets/imgs/logo-feed.png"
              alt=""
              width="112"
              height="28"
            />
          </a>
          <a href="#" class="navbar-burger" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <!-- MENU -->
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a href="#" class="navbar-item">
              <p class="control pesquisa">
                <input
                  class="input is-rounded pesquisa"
                  type="text"
                  placeholder="Pesquise por Disciplinas ou Professores..."
                />
              </p>
              <p class="control">
                <button class="button is-rounded">
                  <span class="icon is-small is-right">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </button>
              </p>
            </a>
          </div>
          <div class="navbar-end">
            <a href="semestres.html" class="navbar-item">Disciplinas</a>
            <a href="professorPesquisa.html" class="navbar-item">Professores</a>
            <a href="#" class="navbar-item">Sobre Nós</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <button class="button is-rounded">
                  <span class="icon is-small is-right">
                    <i class="fa-solid fa-user"></i>
                  </span>
                </button>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Logar
                </a>
                <a class="navbar-item">
                  Cadastrar
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- FIM MENU -->

    <!-- INICIO CONTEUDO-->
    <section class="hero">
      <div class="container">
      <div class="hero-body">
        <div class="columns">
          <div class="column">
            <a href="semestres.html">
              <span class="icon is-small is-right">
                <i class="fa-solid fa-circle-arrow-left"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="columns">
          <div class="column is-8-desktop">
            <div class="columns is-vcentered">
              <div class="column is-9">
                <h1 class="title is-3">Autoração Multimídia <b class="sub-prof">(240h/a)</b></h1>
                <h1 class="subtitle is-5 sub-prof">Trilha de Sistemas</h1>
              </div>
            </div>
            <div class="colums">
              <div class="column">
                <h2 class="subtitle is-5">Evidentemente, a contínua expansão de nossa atividade ainda não demonstrou convincentemente que vai participar na mudança do levantamento das variáveis envolvidas. O que temos que ter sempre em mente é que a necessidade de renovação processual representa uma abertura para a melhoria do remanejamento dos quadros funcionais. Acima de tudo, é fundamental ressaltar que a consolidação das estruturas agrega valor ao estabelecimento dos relacionamentos verticais entre as hierarquias.

                  O que temos que ter sempre em mente é que a necessidade de renovação processual representa uma abertura para a melhoria do remanejamento dos quadros funcionais. Acima de tudo, é fundamental ressaltar que a consolidação das estruturas agrega valor ao estabelecimento dos relacionamentos verticais entre as hierarquias.</h1>
              </div>
            </div>
            <br>
            <div class="columns">
              <div class="column is-5-desktop">
                <button class="button is-medium is-fullwidth">
                  <span>Ementa</span>
                  <span class="icon is-medium">
                    <i class="fa-solid fa-link"></i>
                  </span>
                </button> 
              </div>
            </div>
          </div>
          <div class="column is-4-desktop">
            <button class="button is-fullwidth ver-mais" style="height:45px;"><b>Histórico de Professores</b></button><br>
            <div class="box box-avaliacao-prof">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img  class="is-rounded" src="../assets/imgs/professores/michael.jpg" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <b><a href="professorResult.html">Michael Jackson</a></b>
                      <strong>8,0 <i class="fa-solid fa-face-smile"></i> </strong>
                      <br>
                      Lecionou no Semestre 2022.1 
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="box box-avaliacao-prof">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img  class="is-rounded" src="../assets/imgs/professores/obama.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <b>Barack Obama</b>
                      <strong class="neutro">5,0 <i class="fa-solid fa-face-meh"></i> </strong>
                      <br>
                      Lecionou no Semestre 2020.2
                    </p>
                  </div>
                </div>
              </article>
            </div>
            <div class="box box-avaliacao-prof">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img  class="is-rounded" src="../assets/imgs/professores/naruto.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <p>
                      <b>Barack Obama</b>
                      <strong class="neutro">3,5 <i class="fa-solid fa-face-meh"></i> </strong>
                      <br>
                      Lecionou no Semestre 2018.2
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </div>  
        </div>
      </div>
    </div>
    </section>
    <!-- FIM CONTEUDO-->

    <script src="../assets/js/script.js"></script>
  </body>
</html>
