<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Feedback</title>
    <!-- BULMA IO-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!-- FONTS IMPORT-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
     <!-- FAVICO -->
     <link rel="icon" type="image/x-icon" href="../assets/imgs/fav.ico">
  </head>

  <body>
    <!-- INICIO MENU -->
    <nav class="navbar">
      <div class="container">
        <!-- BRAND -->
        <div class="navbar-brand">
          <a href="../index.html" class="navbar-item">
            <img
              src="../assets/imgs/logo-feed.png"
              alt=""
              width="112"
              height="28"
            />
          </a>
          <a href="#" class="navbar-burger" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <!-- MENU -->
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a href="#" class="navbar-item">
              <p class="control pesquisa">
                <input
                  class="input is-rounded pesquisa"
                  type="text"
                  placeholder="Pesquise por Disciplinas ou Professores..."
                />
              </p>
              <p class="control">
                <button class="button is-rounded">
                  <span class="icon is-small is-right">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </button>
              </p>
            </a>
          </div>
          <div class="navbar-end">
            <a href="semestres.html" class="navbar-item">Disciplinas</a>
            <a href="professorPesquisa.html" class="navbar-item">Professores</a>
            <a href="#" class="navbar-item">Sobre Nós</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <button class="button is-rounded">
                  <span class="icon is-small is-right">
                    <i class="fa-solid fa-user"></i>
                  </span>
                </button>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item"> Logar </a>
                <a class="navbar-item"> Cadastrar </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- FIM MENU -->

    <!-- INICIO CONTEUDO-->
    <section class="hero">
      <div class="container">
        <div class="hero-body">
          <div class="columns">
            <div class="column">
              <a href="semestres.html">
                <span class="icon is-small is-right">
                  <i class="fa-solid fa-circle-arrow-left"></i>
                </span>
              </a>
            </div>
          </div>
          <div class="columns">
            <div class="column is-6-desktop">
              <div class="columns is-vcentered">
                <div class="column">
                  <div class="box box-avaliacao-prof">
                    <article class="media">
                      <div class="media-left">
                        <figure class="image is-64x64">
                          <img
                            class="is-rounded"
                            src="../assets/imgs/professores/michael.jpg"
                            alt="Image"
                          />
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          <p>
                            <b>Michael Jackson</b>
                            <strong class=""
                              >5,0 <i class="fa-solid fa-face-smile"></i>
                            </strong>
                            <br />
                            michaeljackson@gmail.com
                          </p>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <h2 class="subtitle is-5">
                    Selecione abaixo as tags de acordo com a sua experiência com
                    o professor:
                  </h2>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <p class="mb-1">Michael Jackson é um professor:</p>
                  <label class="checkbox">
                    Atencioso
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Atencioso
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Flexível
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Pontual
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Organizado
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Ótima Didática
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Cantor
                    <input type="checkbox" />
                  </label>
                  <label class="checkbox">
                    Assíduo
                    <input type="checkbox" />
                  </label>
                </div>
              </div>
              <div class="columns">
                <div class="column">
                  <p>
                    Agora, defina abaixo uma nota de acordo com a sua
                    experiência com o professor:
                  </p>
                </div>
              </div>
              <div class="columns">
                <div class="column is-mobile">
                    <div class="columns" style="text-align:center;">
                        <div class="column">
                            <label class="radio">
                                <input type="radio" name="answer">
                                1
                              </label>
                        </div>
                        <div class="column">
                            <label class="radio">
                                <input type="radio" name="answer">
                                2
                              </label>
                        </div>
                        <div class="column">
                            <label class="radio">
                                <input type="radio" name="answer">
                                3
                              </label>
                        </div>
                        <div class="column">
                            <label class="radio">
                                <input type="radio" name="answer">
                                4
                              </label>
                        </div>
                        <div class="column">
                            <label class="radio">
                                <input type="radio" name="answer">
                                5
                              </label>
                        </div>  
                    </div>
                </div>
              </div>
            </div>

            <div class="column is-6-desktop">
              <div class="columns">
                <div class="column is-12">
                  <h2 class="subtitle is-5">
                    O espaço abaixo é destinado para que você deixe seu feedback
                    relatando detalhadamente sua experiência com o Professor:
                  </h2>

                  <div class="field">
                    <div class="control">
                      <textarea
                        class="textarea"
                        rows="12"
                        placeholder="Acima de tudo, é fundamental ressaltar que a consolidação das estruturas agrega valor ao estabelecimento dos relacionamentos verticais entre as hierarquias."
                      ></textarea>
                    </div>
                  </div>

                  <button class="button">Enviar Feedback</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- FIM CONTEUDO-->

    <script src="../assets/js/script.js"></script>
  </body>
</html>
