<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Disciplinas</title>
    <!-- BULMA IO-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <!-- ICONS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <!-- FONTS IMPORT-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css" />
     <!-- FAVICO -->
     <link rel="icon" type="image/x-icon" href="../assets/imgs/fav.ico">
  </head>

  <body>
    <!-- INICIO MENU -->
    <nav class="navbar">
      <div class="container">
        <!-- BRAND -->
        <div class="navbar-brand">
          <a href="../index.html" class="navbar-item">
            <img
              src="../assets/imgs/logo-feed.png"
              alt=""
              width="112"
              height="28"
            />
          </a>
          <a href="#" class="navbar-burger" data-target="navMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <!-- MENU -->
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a href="#" class="navbar-item">
              <p class="control pesquisa">
                <input
                  class="input is-rounded pesquisa"
                  type="text"
                  placeholder="Pesquise por Disciplinas ou Professores..."
                />
              </p>
              <p class="control">
                <button class="button is-rounded">
                  <span class="icon is-small is-right">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                </button>
              </p>
            </a>
          </div>
          <div class="navbar-end">
            <a href="semestres.html" class="navbar-item">Disciplinas</a>
            <a href="professorPesquisa.html" class="navbar-item">Professores</a>
            <a href="#" class="navbar-item">Sobre Nós</a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <button class="button is-rounded">
                  <span class="icon is-small is-right">
                    <i class="fa-solid fa-user"></i>
                  </span>
                </button>
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item"> Logar </a>
                <a class="navbar-item"> Cadastrar </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- FIM MENU -->

    <!-- INICIO CONTEUDO-->
    <section class="hero">
      <div class="container">
      <div class="hero-body">
        <div class="columns">
          <div class="column">
            <a href="../index.html">
              <span class="icon is-small is-right">
                <i class="fa-solid fa-circle-arrow-left"></i>
              </span>
            </a>
          </div>
        </div>
        <div class="tabs is-boxed">
          <ul>
            <li class="is-active">
              <a>
                <span>1º Semestre</span>
              </a>
            </li>
            <li>
              <a>
                <span>2º Semestre</span>
              </a>
            </li>
            <li>
              <a>
                <span>3º Semestre</span>
              </a>
            </li>
            <li>
              <a>
                <span>4º Semestre</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column">
                <a class="button btn-trilha-prog" href="disciplinasResult.html">
                  <span class="icon">
                    <i class="fa-solid fa-code"></i>
                  </span>
                  <span>Autoração Multimídia</span>
                </a>
              </div>
              <div class="column">
                <a class="button btn-trilha-prog" href="#">
                  <span class="icon">
                    <i class="fa-solid fa-code"></i>
                  </span>
                  <span>Introdução a SMD</span>
                </a>
              </div>
              <div class="column">
                <a class="button btn-trilha-prog" href="#">
                  <span class="icon">
                    <i class="fa-solid fa-code"></i>
                  </span>
                  <span>Programação I</span>
                </a>
              </div>
              <div class="column">
                <a class="button btn-trilha-prog" href="#">
                  <span class="icon">
                    <i class="fa-solid fa-pen-ruler"></i>
                  </span>
                  <span>Desenho I</span>
                </a>
              </div>
              <div class="column">
                <a class="button btn-trilha-prog" href="#">
                  <span class="icon">
                    <i class="fa-solid fa-pen-ruler"></i>
                  </span>
                  <span>História do Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!-- FIM CONTEUDO-->

    <script src="../assets/js/script.js"></script>
  </body>
</html>
