@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@900&display=swap');
  
body {
    font-family: 'Montserrat', sans-serif;
    /*font-family: 'Roboto', sans-serif;*/
}

button{
    background-color: #80BF61 !important;
    color: #fff !important;
}

/* INICIO MENU NAVBAR*/
nav.navbar {
    border-bottom: 1px solid #e8e8e8;
}
input.input.is-rounded.pesquisa {
    background-color: #ededed;
    color: gray;
    width: 500px;
}
/* FIM MENU NAVBAR*/

/* INICIO DISCIPLINAS */
.btn-trilha-prog{
    background-color: white !important;
    color: black !important;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34);
    width: 100%;
}

i.fa-solid.fa-code {
    color: blue;
}

i.fa-solid.fa-pen-ruler {
    color: orange;
}
/* FIM DISCIPLINAS */

/* INICIO PROFESSORES */
strong{
    color: #80BF61 !important;
}

.sub-prof{
    color: #818181 !important;
}

.tag{
    background-color: #3055D8 !important;
    color: white !important;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34);
}

.box-avaliacao-prof{
    border-radius: 10px;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34);
}

.neutro{
    color: #FFCF5C !important;
}

.triste{
    color: orange !important;
}

.ver-mais{
    color: black !important;
    background-color: white !important;
    box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.34) !important;
}
i.fa-solid.fa-circle-arrow-left {
    font-size: 30px;
    color: #80BF61;
}
i.fa-solid.fa-circle-arrow-left:hover {
    font-size: 30px;
    color: #1e3910;
}
/* FINAL PROFESSORES */

/* INICIO FEEDBACK */
label.checkbox {
    background-color: #C4C5C8;
    padding: 10px;
    border-radius: 11px;
    color: white;
    margin-bottom: 3px;
}

input[type="checkbox"] {
    background-color: gray !important;
}
/* FINAL FEEDBACK*/

/*
.hero-body{
    border: 1px solid red;
}

.column{
    border: 1px solid blue;
}

